@using Knnithyanand.RazorSamples.ViewComponentBasic.Views.Shared.Components
@model CheckboxFieldViewModel

<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="@Model.Id">
    <label class="form-check-label" for="@Model.Id">@Model.Label</label>
</div>
